Test/WCF/ConsoleApp_WCF/Service References/UserServ/UserServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KANG.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KANG.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User_MODEL">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_MODEL" nillable="true" type="tns:User_MODEL" />
  <xs:complexType name="ArrayOfUser_MODEL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_MODEL" nillable="true" type="tns:User_MODEL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_MODEL" nillable="true" type="tns:ArrayOfUser_MODEL" />
</xs:schema>